# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.lock
/vendor

# Build system
/.build/build
/.build/deploy
/.build/ci-tools
/pico-deprecated-release-*.tar.gz
/pico-deprecated-release-*.zip
