name: Test PicoDeprecated

on:
    push:
        branches:
            - 'master'
            - 'pico-3.0'
        tags: [ 'v*.*.*' ]
    pull_request: {}
    workflow_call: {}

jobs:
    test:
        name: PHP ${{ matrix.PHP_VERSION }}

        runs-on: ubuntu-latest
        permissions:
            contents: read

        strategy:
            matrix:
                PHP_VERSION:
                    - '7.2'
                    - '7.3'
                    - '7.4'
                    - '8.0'
                    - '8.1'
                    - 'nightly'
            fail-fast: false

        continue-on-error: ${{ matrix.PHP_VERSION == 'nightly' }}

        env:
            PHP_VERSION: ${{ matrix.PHP_VERSION }}

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v2

            -   name: Setup PHP ${{ env.PHP_VERSION }}
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ env.PHP_VERSION }}
                    tools: composer, phpcs

            -   name: Setup Composer auth
                run: |
                    composer config --global github-oauth.github.com "${{ github.token }}"

            -   name: Get Composer cache directory
                run: |
                    COMPOSER_CACHE_DIR="$(composer config --global cache-dir)"
                    echo "COMPOSER_CACHE_DIR=$COMPOSER_CACHE_DIR" | tee -a "$GITHUB_ENV"

            -   name: Restore Composer cache
                uses: actions/cache@v2
                with:
                    path: ${{ env.COMPOSER_CACHE_DIR }}
                    key: ${{ runner.os }}-composer-php${{ env.PHP_VERSION }}
                    restore-keys: |
                        ${{ runner.os }}-composer-

            -   name: Setup Composer root version
                if: ${{ github.ref_type == 'branch' }}
                run: |
                    COMPOSER_ROOT_VERSION=

                    COMPOSER_ROOT_VERSION="$(composer config \
                        extra.branch-alias."dev-${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}" \
                        2> /dev/null || true)"

                    if [ -z "$COMPOSER_ROOT_VERSION" ]; then
                        COMPOSER_ROOT_VERSION="$(php -r "
                            class AbstractPicoPlugin {}
                            require('./PicoDeprecated.php');
                            echo preg_replace('/\.[0-9]+-dev$/', '.x-dev', PicoDeprecated::VERSION);
                        ")"
                    fi

                    echo "COMPOSER_ROOT_VERSION=$COMPOSER_ROOT_VERSION" | tee -a "$GITHUB_ENV"

            -   name: Install Composer dependencies
                run: |
                    composer install

            -   name: Read PicoDeprecated version
                run: |
                    VERSION="$(php -r "
                        class AbstractPicoPlugin {}
                        require('./PicoDeprecated.php');
                        echo PicoDeprecated::VERSION;
                    ")"
                    echo "VERSION=$VERSION" | tee -a "$GITHUB_ENV"

            -   name: Check PicoDeprecated version
                if: ${{ github.ref_type == 'tag' }}
                run: |
                    [ "$GITHUB_REF_NAME" == "v$VERSION" ]

            -   name: Run PHP_CodeSniffer
                run: |
                    phpcs --standard=.phpcs.xml
